:root {
    --color_primario: khaki;
    --color_primario_suave: chocolate;
    --color_negro: black;
    --altura_header: 100px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(241, 235, 175);
}
a {
    text-decoration: none;
}
ol,ul {
    list-style: none;
    font-size: 10px;
}
.header {
    height: var(--altura_header);
    background-color: var(--color_primario);
}
.navbar {
    height: 100%;
    display: flex;
    width: min(1200px, 100%);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding_left_right);
}
.menu-hamburguesa {
    display: none;
}
.menu-hamburguesa:checked + .ul-links {
    height: calc(100vh - var(--altura_header));
}
.logo {
    color: var(--color_negro);
    font-family: market deco;
}
.list-icon {
    color: var(--color_negro);
    cursor: pointer;
}
.ul-links {
    width: 100%;
    background-color: var(--color_primario_suave);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: all .3s;
    font-family: market deco;
}
.link {
    font-size: 3em;
    color: var(--color_negro);
}
::selection{
    background-color: burlywood;
    color: black;
}
/*galeria del index*/
.imagen img {
    width: 100%;
    padding: 1rem;
}
.galeria {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}
.subir {
height: 40px;
width: 40px;
background-color: khaki;
color: black;
text-align: center;
position: fixed;
bottom: 40px;
right: 40px;
line-height: 40px;
border-radius: 40%;
border: 2px solid #000;
}
.subir a {
    color: black;
}
::-webkit-scrollbar{
    background-color: black;
    width: 15px;

}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}
.container{
    background-color: chocolate;
    color: rgb(233, 222, 124);
    text-align: center;
    align-items: center;
    margin: 0.5%;
    padding: 10px 10px;
    height: auto;
    font-size: 1em;
}
.container h2, h3, h4, h5, h6{
        font-family: market deco;
        height: auto;
        font-size: 1.5em;
}
.texto-parrafo {
    color: black;
    background-color: rgb(223, 167, 93);
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 10px;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container-redes{
    background-color: chocolate;
    margin: 0.5%auto;
    height: auto;
    justify-content: center;
    inline-size: 80%;
    text-align: center;
    padding: 20px 20px;
}
.redes-a{
    display: flex;
    color: khaki;
}
.redes-pastas{
    background-color: chocolate;
    color: rgb(233, 222, 124);
    inline-size: 80%;
    display: flex;
    justify-content: center;
    margin: 0.5%auto;
    height: auto;
    padding: 20px 20px;
    text-align: center;
    flex-direction: column;
    font-size: 1.2em;
}
.redes-titulo{
    color: khaki;
    font-size: 1.5em;
    font-family: market deco;
}
.redes-a{
    justify-content: center;
    transition: 0.5s;
}
.icon-insta{
    color: white;
    font-size: 26px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
    padding: 3px 3px;
}
.icon-insta:hover{
    transform: translateY(-8px);
    color: burlywood;
}
.texto-pastas{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid;
    color: khaki;
}
.info-locales{
    text-align: center;
    background-color: chocolate;
    color: white;
    font-size: 1em;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    inline-size: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.titulos{
    display: flex;
    justify-content: center;
    color: black;
    background-color: khaki;
    height: auto;
    font-size: 1.2em;
    font-family: market deco;
    margin: auto;
    padding: 1%;
    inline-size: 90%;
}
.container-locpastas{
    background-color: chocolate;
    inline-size: 75%;
    display: flex;
    justify-content: center;
    height: auto;
    margin: auto;
    font-size: 1.5em;
    padding: 1.2%;
    flex-direction: column;
    align-items: center;
    color: khaki;
}
.titulo-locpastas{
    color: black;
}
.mapa-local{
    display: flex;
    justify-content: center;
    margin: 0.5%;
    align-items: center;
}
.notas-link{
    display: flex;
    align-items: center;
    margin: 0.5%;
    justify-self: center;
}
.carta-local{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
}
.footer{
    position: relative;
    width: 100%;
    background: #000;
    height: auto;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}
.icon-elem{
    list-style: none;
}
.icon{
    color: khaki;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}
.icon:hover{
    transform: translateY(-10px);
}
.text{
    color: khaki;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}






@media (min-width:100px) {
    .galeria{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width:520px) {
    .galeria{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:728px){
    .label-hamburguesa{
        display: none;
    }
    .ul-links{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }
    .link{
        font-size: 1.2rem;
        transition: all .3s;
        padding: .2rem .7rem;
    }
    .link:hover{
        background-color: burlywood;
    }
    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }
    .notas-link{
        width: 800px;
        height: 580px;
    }
    .container{
        display: flex;
        inline-size: 60%;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .container-redes{
        inline-size: 40%;
    }
    .redes-titulo{
        font-size: 2em;
    }
    .info-locales{
        inline-size: 50%;
    }
    .video{
        margin: 0.5%auto;
        inline-size: 75%;
        align-items: center;
    }
}